<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<title>Sprint goals</title>
</head>
<body>
	<div class="container-fluid px-5">
		<blockquote class="blockquote text-center m-5">
			<h3 class="mb-0">Sprint goals</h3>
			<footer class="blockquote-footer">
				<p class="h5" th:text="${sprintLabel}" />
			</footer>
		</blockquote>
		<div class="row row-cols-1 row-cols-md-2">
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-danger">
						<p class="h3" th:text="'Team ' + ${teamOneName}" />
					</div>
					<div class="h5 card-body">
						<ul>
							<li>Work together on the optimisation of the system, the
								defibrillation modes and the quick settings</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-success">
						<h3>Team Green</h3>
					</div>
					<div class="h5 card-body">
						<ul>
							<li>be able to update firmware of USB devices (ECG, DE-ECG,
								NIBP)</li>
							<li>be able to update firmware of HID controller</li>
							<li>implement validity checks for SWPF</li>
							<li>collect local version information</li>
							<li>collect SWPF information</li>
							<li>scan for SWPF on USB devices; copy SWPF to remote nodes</li>
							<li>camera flash light; NIBP: base timestamp; NIBP:
								intersteering comm.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-secondary">
						<h3>Team Black</h3>
					</div>
					<div class="h5 card-body">
						<ul>
							<li>Work with new Design and adapt current functionality to
								it</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-info">
						<h3>Team Blue</h3>
					</div>
					<div class="h5 card-body">
						<ul>
							<li>Talking the motto from the workshop "Stabilization is
								valued higher than features" we would like to have the test
								bench far enough so we can start performance testing and
								documentation of the test bench itself.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>