<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<title>Sprint goals</title>
</head>
<body>
	<div class="container">
		<div class="card border-0">
			<div class="card-body">
				<blockquote class="blockquote text-center">
					<h3 class="mb-0">Sprint goals</h3>
					<footer class="blockquote-footer">
						<p class="h6">for sprint #55</p>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2">
			<div class="col mb-4">
				<div class="card border-danger mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-danger">
						<h3>Team Red</h3>
					</div>
					<div class="card-body">
						<ul>
							<li>Work together on the optimisation of the system, the
								defibrillation modes and the quick settings</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-success mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-success">
						<h3>Team Green</h3>
					</div>
					<div class="card-body">
						<ul>
							<li>be able to update firmware of USB devices (ECG, DE-ECG,
								NIBP)</li>
							<li>be able to update firmware of HID controller</li>
							<li>implement validity checks for SWPF</li>
							<li>collect local version information</li>
							<li>collect SWPF information</li>
							<li>scan for SWPF on USB devices; copy SWPF to remote nodes</li>
							<li>camera flash light; NIBP: base timestamp; NIBP:
								intersteering comm.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-dark mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-dark">
						<h3>Team Black</h3>
					</div>
					<div class="card-body">
						<ul>
							<li>Work with new Design and adapt current functionality to
								it</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-primary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-primary">
						<h3>Team Blue</h3>
					</div>
					<div class="card-body">
						<ul>
							<li>Talking the motto from the workshop "Stabilization is
								valued higher than features" we would like to have the test
								bench far enough so we can start performance testing and
								documentation of the test bench itself.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>