<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<title>Sprint goals</title>
</head>
<body>
	<div class="container-fluid px-5">
		<blockquote class="blockquote text-center m-5">
			<h3 class="mb-0">Sprint goals</h3>
			<footer class="blockquote-footer">
				<p class="h5" th:text="${sprintLabel}" />
			</footer>
		</blockquote>
		<div class="row row-cols-1 row-cols-md-2">
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-secondary">
						<p class="h3" th:text="'Team ' + ${teamName0}" />
					</div>
					<div class="h5 card-body">
						<ul th:each="goal : ${teamGoals0}">
							<li th:text="${goal}" />
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-info">
						<p class="h3" th:text="'Team ' + ${teamName1}" />
					</div>
					<div class="h5 card-body">
						<ul th:each="goal : ${teamGoals1}">
							<li th:text="${goal}" />
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-success">
						<p class="h3" th:text="'Team ' + ${teamName2}" />
					</div>
					<div class="h5 card-body">
						<ul th:each="goal : ${teamGoals2}">
							<li th:text="${goal}" />
						</ul>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card border-secondary mb-3 h-100 w-100 d-inline-block">
					<div class="card-header text-white bg-danger">
						<p class="h3" th:text="'Team ' + ${teamName3}" />
					</div>
					<div class="h5 card-body">
						<ul th:each="goal : ${teamGoals3}">
							<li th:text="${goal}" />
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>